<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/template/layout}">
    <div layout:fragment="content">


        <!-- Form -->
        <form id="form-coache-add" th:action="@{/coachees/create}" method="post" >
            <!-- Card Body -->
            <div class="card-body">
                <!-- Row -->
                <div class="row">
                    <!-- Col -->
                    <div class="col-lg-12">



                        <!--<div id="avatar-add" class="form-group row image-input image-input-outline image-input-circle" >
                            <div class="image-input-wrapper"
                                 th:style="'background-image:url('+ @{${avatarUserSystem}} +');'" ></div>
                            <label
                                class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                data-action="change" data-toggle="tooltip" title=""
                                data-original-title="Mudar Avatar"> <i
                                    class="fa fa-pen icon-sm text-muted"></i> <input type="file"
                                    name="profile_avatar" accept=".png, .jpg, .jpeg" /> <input
                                    type="hidden" name="profile_avatar_remove" />
                            </label> <span
                                class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                data-action="cancel" data-toggle="tooltip" title="Excluir Avatar">
                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                            </span>
                        </div>-->

                        <div class="form-group row">
                            <div class="col-lg-7 form-group-sub">
                                <label class="form-control-label">Nome Completo<span
                                        class="asterisco">*</span></label>
                                <div class="input-group input-group-solid">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="flaticon-user icon-lg"></i></span>
                                    </div>
                                    <input type='text' th:field="*{modelCoachee.name}" 
                                           class="form-control  form-control-lg" />
                                </div>
                            </div>
                            <div class="col-lg-5 form-group-sub">
                                <label class="form-control-label">Nome Casual<span
                                        class="asterisco">*</span></label>
                                <div class="input-group input-group-solid">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="flaticon-user icon-lg"></i></span>
                                    </div>
                                    <input type='text' th:field="*{modelCoachee.casualName}" 
                                           class="form-control  form-control-lg" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-4 form-group-sub">
                                <label class="form-control-label">CPF<span
                                        class="asterisco">*</span></label> 
                                <div class="input-group input-group-solid">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="flaticon-list-1 icon-lg"></i></span>
                                    </div>
                                    <input type='text' th:field="*{modelCoachee.cpf}"   class="form-control form-control-solid form-control-lg mask-cpf" />
                                </div>
                            </div>
                            <div class="col-lg-4 form-group-sub">
                                <label class="form-control-label">Sexo<span
                                        class="asterisco">*</span></label>
                                <div class="input-group input-group-solid">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="fas fa-venus-mars icon-lg"></i></span>
                                    </div>
                                    <select th:field="*{modelCoachee.idGender}"  class="form-control selectpicker"
                                            data-size="7" data-live-search="true">
                                        <option value="0">Selecione</option>
                                        <option th:each="gender : ${listGender}"
                                                th:value="${gender.id}" 
                                                th:text="${gender.name}" 
                                                selected> 
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 form-group-sub">
                                <label class="form-control-label">Data de Nascimento<span
                                        class="asterisco">*</span></label>
                                <div class="input-group input-group-solid">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="flaticon-calendar icon-lg"></i></span>
                                    </div>
                                    <input type='text' th:field="*{modelCoachee.dateBirth}" 
                                           class="form-control  form-control-lg mask-date" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-8 form-group-sub">
                                <label class="form-control-label">Email<span
                                        class="asterisco">*</span></label>
                                <div class="input-group input-group-solid">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="flaticon-multimedia-2  icon-lg"></i></span>
                                    </div>
                                    <input type='email' th:field="*{modelCoachee.email}" 
                                           class="form-control  form-control-lg" />
                                </div>
                            </div>
                            <div class="col-lg-4 form-group-sub">
                                <label class="form-control-label">Telefone<span
                                        class="asterisco">*</span></label>
                                <div class="input-group input-group-solid">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="fas fa-phone-alt  icon-lg"></i></span>
                                    </div>
                                    <input type="text" th:field="*{modelCoachee.phone}" 
                                           class="form-control  form-control-lg mask-phone" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6 form-group-sub">
                                <label class="form-control-label">Facebook<span
                                        class="asterisco"></span></label>
                                <div class="input-group input-group-solid">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="fab fa-facebook  icon-lg"></i></span>
                                    </div>
                                    <input type='url' th:field="*{modelCoachee.facebook}" 
                                           class="form-control  form-control-lg" />
                                </div>
                            </div>
                            <div class="col-lg-6 form-group-sub">
                                <label class="form-control-label">Instagram<span
                                        class="asterisco"></span></label>
                                <div class="input-group input-group-solid">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="fab fa-instagram icon-lg"></i></span>
                                    </div>
                                    <input type='url' th:field="*{modelCoachee.instagram}" 
                                           class="form-control form-control-lg" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6 form-group-sub">
                                <label class="form-control-label">Twitter<span
                                        class="asterisco"></span></label>
                                <div class="input-group input-group-solid">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="fab fa-twitter icon-lg"></i></span>
                                    </div>
                                    <input type='url' th:field="*{modelCoachee.twitter}" 
                                           class="form-control  form-control-lg" />
                                </div>
                            </div>
                        </div>



                    </div>
                    <!-- Col -->
                </div>
                <!-- Row -->
            </div>
            <!-- Card Body -->


            <!-- Card Footer -->
            <div class="card-footer">     
                <button type="submit" class="btn btn-light-primary font-weight-bold">
                    <i class="far fa-check-circle"></i>                   
                    Confirmar
                </button>
            </div>
            <!-- Card Footer -->     

        </form>
        <!-- Form -->



        <script th:src="@{/assets/js/jquery-3.5.1.js}"></script>
        <script th:src="@{/assets/js/mask.js}"></script>
        <script th:src="@{/assets/js/datatable/coache.js}"></script>  
        <script th:src="@{/assets/js/bootstrap-select.js}"></script>


        <script type="text/javascript">
            window.addEventListener("load", function (event) {
                coachees();
            });
        </script>


    </div>




</html>