<div id="ref-9" th:fragment="fragment" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-9">


    <link th:href="@{/app/assets/css/video.css?v=0.0.1}" rel="stylesheet" type="text/css" />  

    <form id="form-mindfulness" th:action="@{/session/generate/mindfulness}" method="post">

        <div class="form-group row">
            <div class="col-sm-12 col-md-8 col-lg-8 form-group-sub">
                <label class="form-control-label">Mindfulness<span
                        class="asterisco">*</span></label>
                <div class="input-group input-group-solid">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i
                                class="flaticon-interface-10 icon-lg"></i></span>
                    </div>
                    <select id="select" class="form-control selectpicker"
                            data-size="7" data-live-search="true" th:field="*{modelGenerateMindfulnessDto.idExerciseMindfulness}">
                        <option value="0" selected>Selecione</option>
                        <option th:each="oject : ${listExerciseMindfulness}"
                                th:value="${oject.id}" 
                                th:text="${oject.name}"> 
                        </option>
                    </select>
                    <div class="input-group-append">
                        <button type="button" onclick="add('group')" class="btn btn-light-primary font-weight-bold">
                            <i class="fas fa-plus-circle"></i>Adicionar
                        </button>
                    </div>
                </div>
            </div>

        </div>


        <div class="form-group row" th:each="object :${listSessionGenerateMindfulness}">
            
                        
            <div class="col-lg-12 form-group-sub">  
                <label class="form-control-label"><b>Mindfulness:</b> [[${object.exercise}]]
                    <span id="mindfulness"></span></label>
                    <audio autoplay="autoplay" controls="controls">
                <source th:src="${object.file}" type="audio/mp3" />
                Seu navegador não suporta HTML5
            </audio>
                <textarea class="form-control" th:text="${object.learning}" rows="5" th:disabled="${object.disabledComponent}"></textarea>
            </div>
        </div>

        <div id="group" class="group">


            <audio autoplay="autoplay" controls="controls">
                <source src="https://www.jqueryscript.net/demo/Circular-Html5-Audio-Player-jQuery/sounds/piano.mp3" type="audio/mp3" />
                Seu navegador não suporta HTML5
            </audio> 

            <!-- <audio controls>              
                 <source src="https://www.w3schools.com/html/horse.mp3" type="audio/mpeg">                
             </audio> -->


            <div class="form-group row">
                <div class="col-lg-12 form-group-sub">  
                    <label class="form-control-label"><b>Mindfulness:</b> <span id="title"></span>
                        <span id="mindfulness"></span></label>
                    <textarea class="form-control" th:field="*{modelGenerateMindfulnessDto.learning}" rows="5"></textarea>
                </div>
            </div>

            <div class="form-group row">                
                <button type="submit" class="btn btn-light-primary font-weight-bold">
                    <i class="far fa-check-circle"></i>Confirmar
                </button>
            </div>
        </div>

    </form>



    <script type="text/javascript">

        document.getElementById('group').style.display = 'none';

        function add(el) {

            var select = document.querySelector('select');
            var option = select.children[select.selectedIndex];
            var text = option.textContent;
            document.getElementById('title').innerHTML = text;
            console.log(text);

            if (text !== 'Selecione') {
                document.getElementById('group').style.display = 'block';
            } else if (text === 'Selecione') {
                alert('Selecione um item da lista.');
            }
        }

    </script>



</div>
