<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/template/layout}">
    <div layout:fragment="content">


        <!-- Card Body -->
        <div class="card-body">
            <div class="row">

                <h1>Teste</h1>


            </div>
        </div>
        <!-- Card Body -->


         

      <!--   <script type="text/javascript">
            window.addEventListener("load", function (event) {
                assessments();
            });
        </script>-->

    </div>

</html>