<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/template/layout}">
    <div layout:fragment="content">


        <!-- Card Body --> 
        <div class="card-body">
            <div class="row">


                <div class="col-lg-3 form-group-sub">
                    <div class="kanban-item is-moving">
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-success mr-3">
                                <img alt="Avatar" th:src="@{${avatarSystem}}">
                            </div>                   
                            <div class="d-flex flex-column align-items-start">
                                <span class="text-dark-50 font-weight-bold mb-1">Danielle Pereira</span>          
                                <span class="label label-inline label-light-success font-weight-bold">2 Avaliações</span>  
                                <a class="nav-link" th:href="@{/coaches/assessments/assessment/view/1}" >
                                    <i class="nav-icon flaticon-search "></i>
                                    <span class="text-dark-50 font-weight-bold">Teste 1 </span> 
                                </a>
                                 <a class="nav-link" th:href="@{/coaches/assessments/assessment/view/2}" >
                                    <i class="nav-icon flaticon-search "></i>
                                    <span class="text-dark-50 font-weight-bold">Teste 2 </span> 
                                </a>
                            </div>                                
                        </div>                           
                    </div>    
                </div>    

                <div class="col-lg-3 form-group-sub">
                    <div class="kanban-item is-moving">
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-success mr-3">
                                <img alt="Avatar" th:src="@{${avatarSystem}}">
                            </div>                   
                            <div class="d-flex flex-column align-items-start">
                                <span class="text-dark-50 font-weight-bold mb-1">Gustavo Ramos</span>       
                                <span class="label label-inline label-light-success font-weight-bold">2 Avaliações</span> 
                                <a class="nav-link" th:href="@{/coaches/assessments/assessment/view/4}" >
                                    <i class="nav-icon flaticon-search "></i>
                                    <span class="text-dark-50 font-weight-bold">Teste 1 </span> 
                                </a>
                                 <a class="nav-link" th:href="@{/coaches/assessments/assessment/view/4}" >
                                    <i class="nav-icon flaticon-search "></i>
                                    <span class="text-dark-50 font-weight-bold">Teste 2 </span> 
                                </a>
                            </div>                                
                        </div>                           
                    </div>    
                </div>   


            </div>
        </div>
        <!-- Card Body -->


        <script type="text/javascript">
            window.addEventListener("load", function (event) {
                coaches_assessments();
            });
        </script>         

    </div>

</html>