<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/template/layout}">
    <div layout:fragment="content">


        <!-- Form -->
        <form>
            <!-- Card Body -->
            <div class="card-body">
                <!-- Row -->
                <div class="row">
                    <!-- Col -->
                    <div class="col-lg-12">


                        <div class="example-preview">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="sessao-tab" data-toggle="tab" href="#sessao"  aria-controls="contrato"  >
                                        <span class="nav-icon">
                                            <i class="flaticon-squares-4"></i>
                                        </span>
                                        <span class="nav-text">Sessão</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="agenda-tab" data-toggle="tab" href="#agenda"  aria-controls="agenda" >
                                        <span class="nav-icon">
                                            <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                        </span>
                                        <span class="nav-text">Agenda</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="anotacao-tab" data-toggle="tab" href="#anotacao"  aria-controls="anotacao" >
                                        <span class="nav-icon">
                                            <i class="flaticon-chat-2"></i>
                                        </span>
                                        <span class="nav-text">Anotações</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contrato-tab" data-toggle="tab" href="#contrato"  aria-controls="contrato" >
                                        <span class="nav-icon">
                                            <i class="flaticon-interface-10"></i>
                                        </span>
                                        <span class="nav-text">Contrato</span>
                                    </a>
                                </li>


                            </ul>
                            <div class="tab-content mt-5" >


                                <!-- Tab Sessao -->
                                <div class="tab-pane fade show active" id="sessao" role="tabpanel" aria-labelledby="sessao-tab">
                                    <div class="example-preview">
                                        <div class="row">

                                            <div class="col-4">
                                                <ul class="nav flex-column nav-pills">
                                                    <li class="nav-item mb-2">
                                                        <a id="one-tab" class="nav-link active" data-toggle="tab" href="#one"   >
                                                            <span class="nav-icon">1&nbsp;&nbsp;&nbsp;|</span>
                                                            <span class="nav-text">Estado Atual</span>
                                                            <span class="svg-icon">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                                </g>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item mb-2">
                                                        <a id="two-tab" class="nav-link"  data-toggle="tab" href="#two"  aria-controls="two" >
                                                            <span class="nav-icon">2&nbsp;&nbsp;&nbsp;|</span>
                                                            <span class="nav-text">MASS</span>
                                                            <span class="svg-icon">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                                </g>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </li>                                    
                                                    <li class="nav-item mb-2">
                                                        <a id="three-tab" class="nav-link"  data-toggle="tab" href="#three"  aria-controls="three" >
                                                            <span class="nav-icon">3&nbsp;&nbsp;&nbsp;|</span>
                                                            <span class="nav-text">Objetivos e Metas</span>
                                                            <span class="svg-icon">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                                </g>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </li>      
                                                    <li class="nav-item mb-2">
                                                        <a id="four-tab" class="nav-link"  data-toggle="tab" href="#four"  aria-controls="four" >
                                                            <span class="nav-icon">4&nbsp;&nbsp;&nbsp;|</span>
                                                            <span class="nav-text">Exercício de Sala</span>
                                                            <span class="svg-icon">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                                </g>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </li>  
                                                    <li class="nav-item mb-2">
                                                        <a id="five-tab" class="nav-link"  data-toggle="tab" href="#five"  aria-controls="five" >
                                                            <span class="nav-icon">5&nbsp;&nbsp;&nbsp;|</span>
                                                            <span class="nav-text">Exercício de Casa - Rotineiros</span>
                                                            <span class="svg-icon">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                                </g>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </li> 
                                                    <li class="nav-item mb-2">
                                                        <a id="six-tab" class="nav-link"  data-toggle="tab" href="#six"  aria-controls="six" >
                                                            <span class="nav-icon">6&nbsp;&nbsp;&nbsp;|</span>
                                                            <span class="nav-text">Exercício de Casa - Pontuais</span>
                                                            <span class="svg-icon">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                                </g>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </li> 
                                                    <li class="nav-item mb-2">
                                                        <a id="seven-tab" class="nav-link"  data-toggle="tab" href="#seven"  aria-controls="seven" >
                                                            <span class="nav-icon">7&nbsp;&nbsp;&nbsp;|</span>
                                                            <span class="nav-text">Anotações para o Coachee</span>
                                                            <span class="svg-icon">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                                </g>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </li> 
                                                    <li class="nav-item mb-2">
                                                        <a id="eight-tab" class="nav-link"  data-toggle="tab" href="#eight"  aria-controls="eight" >
                                                            <span class="nav-icon">8&nbsp;&nbsp;&nbsp;|</span>
                                                            <span class="nav-text">Histórico Fotográfico</span>
                                                            <span class="svg-icon">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                                </g>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </li> 
                                                    <li class="nav-item mb-2">
                                                        <a id="nine-tab" class="nav-link"  data-toggle="tab" href="#nine"  aria-controls="nine" >
                                                            <span class="nav-icon">9&nbsp;&nbsp;&nbsp;|</span>
                                                            <span class="nav-text">Mindfulness</span>
                                                            <span class="svg-icon">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                                </g>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item mb-2">
                                                        <a id="ten-tab" class="nav-link"  data-toggle="tab" href="#ten"  aria-controls="ten" >
                                                            <span class="nav-icon">10&nbsp;&nbsp;|</span>
                                                            <span class="nav-text">Ganhos</span>
                                                            <span class="svg-icon">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                                </g>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="col-8">
                                                <div class="tab-content" >

                                                    <!-- Estado Atual -->
                                                    <div th:replace="app/page/fragment/estado-atual :: fragment"></div>
                                                    <!-- Estado Atual -->

                                                    <!-- MASS -->
                                                    <div th:replace="app/page/fragment/mass :: fragment"></div>                                       
                                                    <!-- MASS -->

                                                    <!-- Objetivos e Metas -->
                                                    <div th:replace="app/page/fragment/objetivo-meta :: fragment"></div>  
                                                    <!-- Objetivos e Metas -->

                                                    <!-- Exercício de Sala -->
                                                    <div th:replace="app/page/fragment/exercicio-sala :: fragment"></div>                                        
                                                    <!-- Exercício de Sala -->

                                                    <!-- Exercício de Casa - Rotineiros -->
                                                    <div th:replace="app/page/fragment/exercicio-casa-rotineiro :: fragment"></div>                                             
                                                    <!-- Exercício de Casa - Rotineiros -->

                                                    <!-- Exercício de Casa - Pontuais -->
                                                    <div th:replace="app/page/fragment/exercicio-casa-pontual :: fragment"></div>                                                  
                                                    <!-- Exercício de Casa - Pontuais -->

                                                    <!-- Anotações para o Coachee -->
                                                    <div th:replace="app/page/fragment/anotacao-coachee :: fragment"></div>    
                                                    <!-- Anotações para o Coachee -->

                                                    <!-- Histórico Fotográfico -->
                                                    <div th:replace="app/page/fragment/historico-fotografia :: fragment"></div>                                            
                                                    <!-- Histórico Fotográfico -->

                                                    <!-- Mindfulness -->
                                                    <div th:replace="app/page/fragment/mindfulness :: fragment"></div>                                            
                                                    <!-- Mindfulness -->
                                                    
                                                     <!-- Ganhos -->
                                                    <div th:replace="app/page/fragment/ganhos :: fragment"></div>                                            
                                                    <!-- Ganhos -->

                                                </div>
                                            </div>

                                        </div>
                                    </div>   
                                </div>
                                <!-- Tab Sessao -->

                                <!-- Tab Agenda -->
                                <div class="tab-pane fade" id="agenda" role="tabpanel" aria-labelledby="agenda-tab">Agenda</div>
                                <!-- Tab Agenda -->

                                <!-- Tab Anotacoes -->
                                <div class="tab-pane fade" id="anotacao" role="tabpanel" aria-labelledby="anotacao-tab">
                                    <div class="form-group row">
                                        <div class="col-lg-12 form-group-sub">
                                            <label class="form-control-label">
                                                Anotações
                                                <span class="asterisco"></span>
                                            </label>
                                            <textarea name="anotacoes"  class="form-control" data-provide="markdown" rows="10"  placeholder="Digite aqui..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tab Anotacoes -->

                                <!-- Tab Contratos -->
                                <div class="tab-pane fade" id="contrato" role="tabpanel" aria-labelledby="contrato-tab">Contratos</div>
                                <!-- Tab Contratos -->


                            </div>
                        </div>




                    </div>
                    <!-- Col -->
                </div>
                <!-- Row -->
            </div>
            <!-- Card Body -->


            <!-- Card Footer -->
            <div class="card-footer">
                <button type="button" data-toggle="modal" data-target="#modalConfirmDelete" class="btn btn-light-danger font-weight-bold" >
                    <i class="flaticon-delete"></i>Excluir
                </button>
                <button type="submit" class="btn btn-light-primary font-weight-bold">
                    <i class="far fa-check-circle"></i>Confirmar
                </button>
            </div>
            <!-- Card Footer -->     

        </form>
        <!-- Form -->



        <script th:src="@{/app/assets/js/jquery-3.5.1.js}"></script>
        <script th:src="@{/app/assets/js/mask.js}"></script>       
        <script th:src="@{/app/assets/js/bootstrap-markdown.js}"></script>


        <script type="text/javascript">
            window.addEventListener("load", function (event) {
                coachee_cycle();
            });
        </script>


    </div>




</html>