<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/template/layout}">
    <div layout:fragment="content">


        <!-- Form -->
        <form>
            <!-- Card Body -->
            <div class="card-body">
                <!-- Row -->
                <div class="row">
                    <!-- Col -->
                    <div class="col-lg-12">




                        <div class="row">       

                            <div class="col-lg-6" style="padding-bottom: 100px;">

                                <div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="accordionExample8">
                                    <div class="card">
                                        <div class="card-header" id="headingSessao1">
                                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseSessao1">
                                                <div class="card-label">Sessão 1</div>
                                                <span class="svg-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                    </g>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                        <div id="collapseSessao1" class="collapse" data-parent="#accordionExample8">
                                            <div class="card-body">
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingSessao2">
                                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseSessao2">
                                                <div class="card-label">Sessão 2</div>
                                                <span class="svg-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                    </g>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                        <div id="collapseSessao2" class="collapse" data-parent="#accordionExample8">
                                            <div class="card-body">
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingSessao3">
                                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseSessao3">
                                                <div class="card-label">Sessão 3</div>
                                                <span class="svg-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                                    </g>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                        <div id="collapseSessao3" class="collapse" data-parent="#accordionExample8">
                                            <div class="card-body">
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>                           


                            <div class="col-lg-6">


                                <div class="example-preview">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="sessao-tab" data-toggle="tab" href="#sessao"  aria-controls="contrato"  >
                                                <span class="nav-icon">
                                                    <i class="flaticon-squares-4"></i>
                                                </span>
                                                <span class="nav-text">Sessão</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="agenda-tab" data-toggle="tab" href="#agenda"  aria-controls="agenda" >
                                                <span class="nav-icon">
                                                    <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                                </span>
                                                <span class="nav-text">Agenda</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="anotacao-tab" data-toggle="tab" href="#anotacao"  aria-controls="anotacao" >
                                                <span class="nav-icon">
                                                    <i class="flaticon-chat-2"></i>
                                                </span>
                                                <span class="nav-text">Anotações</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contrato-tab" data-toggle="tab" href="#contrato"  aria-controls="contrato" >
                                                <span class="nav-icon">
                                                    <i class="flaticon-interface-10"></i>
                                                </span>
                                                <span class="nav-text">Contrato</span>
                                            </a>
                                        </li>
                                        
                                        
                                    </ul>
                                    <div class="tab-content mt-5" id="myTabContent">
                                        <div class="tab-pane fade show active" id="sessao" role="tabpanel" aria-labelledby="sessao-tab">Sessão</div>
                                        <div class="tab-pane fade" id="agenda" role="tabpanel" aria-labelledby="agenda-tab">Agenda</div>
                                        <div class="tab-pane fade" id="anotacao" role="tabpanel" aria-labelledby="anotacao-tab">Anotações</div>
                                        <div class="tab-pane fade" id="contrato" role="tabpanel" aria-labelledby="contrato-tab">Contratos</div>
                                    </div>
                                </div>




                            </div>


                        </div>



                    </div>
                    <!-- Col -->
                </div>
                <!-- Row -->
            </div>
            <!-- Card Body -->


            <!-- Card Footer -->
            <div class="card-footer">
                <button type="button" data-toggle="modal" data-target="#modalConfirmDelete" class="btn btn-light-danger font-weight-bold" >
                    <i class="flaticon-delete"></i>Excluir
                </button>
                <button type="submit" class="btn btn-light-primary font-weight-bold">
                    <i class="far fa-check-circle"></i>Confirmar
                </button>
            </div>
            <!-- Card Footer -->     

        </form>
        <!-- Form -->





        <script th:src="@{/assets/js/jquery-3.5.1.js}"></script>
        <script th:src="@{/assets/js/mask.js}"></script>       


        <script type="text/javascript">
            window.addEventListener("load", function (event) {
                coaches();
            });
        </script>

        <!-- Impedir a tecla enter dentro do form -->
        <script>
            $('form').keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    console.log('Não vou enviar');
                }
            });
        </script>

    </div>




</html>