<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/template/layout}">
    <div layout:fragment="content">


        <!-- Card Body -->
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">


                    <!--begin::Search Form-->
                    <div class="mb-7">
                        <div class="row align-items-center">
                            <div class="col-lg-9 col-xl-8">
                                <div class="row align-items-center">
                                    <div class="col-md-4 my-2 my-md-0">
                                        <div class="input-icon">
                                            <input type="text" class="form-control"
                                                   placeholder="Pesquisar..." id="kt_datatable_search_query" /> <span><i
                                                    class="flaticon2-search-1 text-muted"></i></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 my-2 my-md-0">
                                        <div class="d-flex align-items-center">
                                            <label class="mr-3 mb-0 d-none d-md-block">Sexo:</label> <select
                                                class="form-control" id="kt_datatable_search_status">
                                                <option value="">Todos</option>
                                                <option value="1">Masculino</option>
                                                <option value="2">Feminino</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 my-2 my-md-0">
                                        <div class="d-flex align-items-center">
                                            <label class="mr-3 mb-0 d-none d-md-block">Status:</label> <select
                                                class="form-control" id="kt_datatable_search_type">
                                                <option value="">Todos</option>
                                                <option value="1">Online</option>
                                                <option value="2">Offline</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
                                <a href="#" class="btn btn-light-primary px-6 font-weight-bold">
                                    Pesquisar </a>
                            </div>
                        </div>
                    </div>
                    <!--end::Search Form-->


                    <!--begin: Datatable-->
                    <table class="datatable datatable-bordered datatable-head-custom"
                           id="kt_datatable">
                        <thead>
                            <tr>
                                <th title="Field #1"># ID</th>
                                <th title="Field #2">Nome</th>
                                <th title="Field #3">Data de Nascimento</th>
                                <th title="Field #4">Email</th>
                                <th title="Field #7">Status</th>
                                <th>Ações</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="even">
                                <td>29</td>
                                <td class="sorting_1 dtr-control" tabindex="0">
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-50 flex-shrink-0">
                                            <img th:src="@{${avatarUserSystem}}" alt="avatar">
                                        </div>
                                        <div class="ml-3">
                                            <span
                                                class="text-dark-75 font-weight-bold line-height-sm d-block pb-2">Berenice
                                                Lampett</span>
                                        </div>
                                    </div>
                                </td>
                                <td>01/09/1980</td>
                                <td>lobo_danielle@hotmail.com</td>
                                <td class="text-right">1</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="javascript:;" class="btn btn-sm btn-clean btn-icon"
                                           data-toggle="dropdown" aria-expanded="false" title="Ações">
                                            <i class="la la-cog"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right"
                                             style="display: none;">
                                            <ul class="nav nav-hoverable flex-column">

                                                <li class="nav-item">
                                                    <a class="nav-link" th:href="@{/coaches/view/1}">
                                                        <i class="nav-icon flaticon-search "></i>
                                                        <span class="nav-text">Visualizar </span> 
                                                    </a>
                                                </li>

                                                <li class="nav-item">
                                                    <a class="nav-link" th:href="@{/coaches/update/1}">
                                                        <i class="nav-icon flaticon-edit"></i>
                                                        <span class="nav-text">Editar </span> 
                                                    </a>
                                                </li>

                                                <li class="nav-item">
                                                    <a class="nav-link"  th:href="@{/coaches/1/assessments/reader}">
                                                        <i class="nav-icon flaticon-edit-1"></i>
                                                        <span class="nav-text">Avaliações </span> 
                                                    </a>
                                                </li>

                                                <li class="nav-item">
                                                    <a class="nav-link" th:href="@{/coaches/1/session/reader}">
                                                        <i class="nav-icon flaticon2-group"></i>
                                                        <span class="nav-text">Registro de Sessão</span> 
                                                    </a>
                                                </li>

                                                <li class="nav-item"><a class="nav-link" href="#"
                                                                        data-toggle="modal" data-target="#modalConfirmDelete"><i
                                                            class="nav-icon far fa-trash-alt"></i><span
                                                            class="nav-text">Remover</span> </a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--end: Datatable-->


                </div>
            </div>
        </div>
        <!-- Card Body -->


        <!-- Modal Confirm Delete -->
        <div id="modalConfirmDelete"  class="modal fade" data-backdrop="static"
             tabindex="-1" role="dialog" aria-labelledby="staticBackdrop"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmar Exlusão</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <i aria-hidden="true" class="ki ki-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Mensagem de Confirmação -->
                        <div th:replace="app/template/message/confirmation :: fragment"></div>
                        <!-- Mensagem de Confirmação -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-danger font-weight-bold"
                                data-dismiss="modal">
                            <i class="fas fa-minus-circle"></i>Cancelar
                        </button>
                        <button type="button"
                                class="btn btn-light-primary font-weight-bold">
                            <i class="far fa-check-circle"></i>Confirmar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Confirm Delete -->




        <script th:src="@{/assets/js/jquery-3.5.1.js}"></script>
        <script th:src="@{/assets/js/mask.js}"></script>
        <script th:src="@{/assets/js/datatable/coache.js}"></script>  
        <script th:src="@{/assets/js/bootstrap-select.js}"></script>


        <script type="text/javascript">
            window.addEventListener("load", function (event) {
                coaches();
            });
        </script>

        <!-- Impedir a tecla enter dentro do form -->
        <script>
            $('form').keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    console.log('Não vou enviar');
                }
            });
        </script>

    </div>




</html>